@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background: url("../img/bg.jpg");
	max-height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	margin-bottom: 10px;
	overflow: hidden;
}

.navbar{
	background: #023047;
}

#title_logo{
	max-width: 12vw;
	width: auto;
}
#school{
	font-size: 2vw;
	font-weight: bold;
	padding: 0;
}
#loc{
	font-size: 1.5vw;
	letter-spacing: 1vw;
	padding: 0;
}
#logo{
	max-width: 12vw;
	width: auto;
	padding-top: 15px;
}
.card{
	display: flex;
	border-radius: 20px;
	border: none;
	width: 50%;
}

.form div .btn-color{
	background: #023047;
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	box-shadow: none;
}

.form div .btn-color:hover,
.form div .btn-color:active{
	background: #0160ad;
	color: #fff;
}

/*SWITCH*/
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 20px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;

}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;

}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 2px;
	bottom: 3px;
	background-color: #6b6b6b;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	border: 2px solid #d1d1d1;
	color: #d1d1d1;
	background-color: #6b6b6b;
}

input:checked + .slider:before {
	background-color: #fff;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
	
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);

}

/* Rounded sliders */
.slider.round {
	margin: -2px;
	border: 2px solid #d1d1d1;
	outline: none;
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.change-password-box form button:hover{
	background: none;
	border: 2px solid #ed682a;
}
