@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	min-height: 100vh;
	max-width: 100%;
}

.sidebar{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 60px;
	background: #023047;
	transition: all 0.5s ease;
	z-index: 1;
}

.sidebar.active{
	width: 180px;
}

.sidebar .menu-details{
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
}

.sidebar .menu-details i{
	font-size: 28px;
	font-weight: 500;
	color: #fff;
	min-width: 60px;
	text-align: center;
	cursor: pointer;

}

.sidebar .menu-details .menu-name{
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	margin-left: 8px;
}

.sidebar .nav-links{
	margin-top: 16px;
	overflow: hidden;
}

.sidebar .nav-links li{
	height: 50px;
	width: 100%;
	list-style: none;
	border-bottom: 1px solid #003860;
}

.sidebar .nav-links li a{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover{
	background: #0160ad;
}

.sidebar .nav-links li a i{
	min-width: 60px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.sidebar .nav-links li a .link-name{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
}

.sidebar .nav-links .dropdown-menu .dropdown-item:hover{
	background: #0160ad;
	color: #fff;
}

/*HOME SECTION*/

.home-section{
	background: #fff;
	position: relative;
	min-height: 100vh;
	width: calc(100% - 60px);
	left: 60px;
	transition: all 0.5s ease;
	top: 80px;
}

.sidebar.active ~ .home-section,
.sidebar.active ~ .home-section nav{
	width: calc(100% - 180px);
	left: 180px;
}

.home-section nav{
	position: fixed;
	width: calc(100% - 60px);
	left: 60px;
	height: 80px;
	top: 0;
	background: #023047;
	color: #fff;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.5s ease;
	z-index: 1;
}

.home-section nav .sidebar-button{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

.home-section nav .sidebar-button .dashboard{
	margin-top: -4px;
}

.home-section nav .name{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

.home-section nav .dropdown-menu .dropdown-item:hover{
	background: #0160ad;
	color: #fff;
}

.home-section nav button,
.home-section nav button:hover,
.home-section nav button:focus,
.home-section nav button:active{
	background: transparent;
	color: #fff;
	overflow: hidden;
	border: none;
	box-shadow: none;
}
/*RECENTLY REGISTERED USER*/

.thead-color{
	background: #023047;
	color: #fff;
}

.member-tab-header .generate-report{
	padding: 6px 12px;
	margin-left: 24px;
	background-color: #023047;
}

.member-tab-header #generate-report-modal .modal-header{
	background-color: #023047;
}

.member-tab-header #generate-report-modal .modal-footer .generate{
	background-color: #023047;
}

.member-tab-header .year-search{
	padding: 6px 12px;
	margin-right: 10px;
	width: 14.4em;
}

.member-table{
	width: 1400px;
	padding: 0;
	padding-left: 20px;
}
.member-table thead{
	position: sticky;
	top: 0;
	bottom: 2px;
}


/*DATATABLE*/
.dataTable-wrapper.no-header .dataTable-container {
	border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
	padding: 8px 10px;
}

.dataTable-top > nav:first-child,
.dataTable-top > div:first-child,
.dataTable-bottom > nav:first-child,
.dataTable-bottom > div:first-child {
	float: left;
}

.dataTable-top > nav:last-child,
.dataTable-top > div:last-child,
.dataTable-bottom > nav:last-child,
.dataTable-bottom > div:last-child {
	float: right;
}

.dataTable-selector {
	padding: 6px;
}

.dataTable-input {
	padding: 6px 12px;
}

.dataTable-info {
	margin: 7px 0;
}

/* PAGER */
.dataTable-pagination-list ul {
	margin: 0;
	padding-left: 0;
	overflow: scroll;
}

.dataTable-pagination-list li {
	list-style: none;
	float: left;
}

.dataTable-pagination-list a {
	border: 1px solid transparent;
	float: right;
		left: 300px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	color: #333;
}

.dataTable-pagination-list a:hover {
	background-color: #d9d9d9;
}

.dataTable-pagination-list .active a,
.dataTable-pagination-list .active a:focus,
.dataTable-pagination-list .active a:hover {
	background-color: #d9d9d9;
	cursor: default;
}

.dataTable-pagination-list .ellipsis a,
.dataTable-pagination-list .disabled a,
.dataTable-pagination-list .disabled a:focus,
.dataTable-pagination-list .disabled a:hover {
	cursor: not-allowed;
}

.dataTable-pagination-list .disabled a,
.dataTable-pagination-list .disabled a:focus,
.dataTable-pagination-list .disabled a:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.dataTable-pagination-list .pager a {
	font-weight: bold;
}
/* TABLE */
.dataTable-table {
	max-width: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
	vertical-align: top;
	padding: 8px 10px;
}

.dataTable-table > thead > tr > th {
	vertical-align: bottom;
	text-align: center;
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-table > tfoot > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-top: 1px solid #d9d9d9;
}

.dataTable-table th {
	vertical-align: bottom;
	text-align: left;
}

.dataTable-table th a {
	text-decoration: none;
	color: inherit;
}

.dataTable-sorter {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	opacity: 0.2;
}

.dataTable-sorter::before {
	border-top: 4px solid #000;
	bottom: 0px;
}

.dataTable-sorter::after {
	border-bottom: 4px solid #000;
	border-top: 4px solid transparent;
	top: 0px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
	opacity: 0.6;
}

.dataTables-empty {
	text-align: center;
}

.dataTable-top::after, .dataTable-bottom::after {
	clear: both;
	content: " ";
	display: table;
}

@media print {
	thead tr th{
		background-color: #023047 !important;
	}
}